{% extends 'base.html' %}

{% block title %}
<title>Coventry Scholars: Home</title>
{% endblock %}

{% block content %}
<section class="container">
    <div class="col-md-4 mt-3">
        <form method="get" action="/result">
            <span>Select Alogrithm :</span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="algorithm" id="inlineRadio1" value="and">
                <label class="form-check-label" for="inlineRadio1">AND</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="algorithm" id="inlineRadio2" value="or">
                <label class="form-check-label" for="inlineRadio2">OR</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="algorithm" id="inlineRadio3" value="tfidf">
                <label class="form-check-label" for="inlineRadio3">TF-IDF</label>
            </div>
            <div class="input-group gap-3 mt-2">
                <input type="text" value="{{query}}" name="query" class="form-control">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</section>

<section class="container search-result mt-3" id="result">
    {% if result|length == 0 %}
    <h5>Sorry, No Result Found!</h5>
    {% endif %}
    <mark>{{ result|length }} result found!</mark>
    <ul class="list">
        {% for paper in result %}
        <li>
            {% if algorithm == 'tfidf' %}<span>(Score: {{ paper.score }} )</span>{% endif %}
            <h6><a href="{{paper.link}}" target="_blank">{{paper.title}}</a></h6>
            <p><span>{{paper.published_date}}</span>
                {% for author in paper.authors %}
                <span>
                    {% if author.profile_link != None %}
                    ,<a href="{{author.profile_link}}" target="_blank"><span>{{author.name}}</span></a>
                    {% else %}
                    ,<span>{{author.name}}</span>
                    {% endif%}
                </span>
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    <ul class="pagination"></ul>
</section>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // make radio buttons checked
        var url = window.location.search
        var getQuery = url.split('?')[1]
        var params = getQuery.split('&') 
        algorithm = params[0].split('=')[1]
        if(algorithm == 'tfidf'){
            document.getElementById('inlineRadio3').checked = true
        }
        else if (algorithm == 'or')
        {
            document.getElementById('inlineRadio2').checked = true
        }
        else{
            document.getElementById('inlineRadio1').checked = true
        }

        //list js config
        var options = {
            page: 5,
            pagination: true
        };
        var hackerList = new List('result', options);

    });

</script>
{% endblock %}